.banner {
    height: 830px;
}

.slider-image-part .swiper-slide {
    -webkit-align-items: start;
    align-items: start;
}

.slider-img {
    height: 796px !important;
}

.imageBg-container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.centered img {
    margin-bottom: 56px;
}
.centered h2 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #565656;
}
.btn-style {
    background: transparent;
    border-radius: 10px;
    padding: 10px 30px;
    color: #565656;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #222222;
    margin-top: 20px;
}

/* swiper css */
.banner .swiper {
    width: 100%;
    height: 100%;
}

.banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
